.header,
.footer,
.navbar,
.nav-menu {
  background-color: var(--nav-bg);

  .nav-link {
    color: var(--text);
  }
}

.nav-header {
  align-items: center;
}

main {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  background-color: var(--background);
}

.btn {
  color: var(--light);
  background-color: var(--primary);
  font-family: inherit;
}

.home-logo {
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  background-image: url(../img/mushi.ico);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 3rem;
  width: 3rem;
}

.section {
  align-self: center;
  background-color: var(--background);
  padding: 2rem;
  text-align: center;
}
.btn:hover,
.nav-link:hover {
  cursor: pointer;
  background-color: var(--hover);
  color: var(--text-hover);
}

.col-card {
  padding: 0.25rem;

  .card {
    max-width: 500px;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background);
    border: 1px solid var(--text);
    border-radius: 0.25rem;
    height: 100%;

    .card-img {
      flex-shrink: 0;
      width: 100%;
      height: 50%;
      .product-img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }
    .card-body {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      flex: 1 1 auto;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .card-title {
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        font-size: 1.25rem;
        line-height: 1.2;
        font-family: var(--title);
        color: var(--primary);
      }
      .card-price {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }

      .card-comment-title {
        text-transform: uppercase;
        font-family: var(--text);
      }

      .card-subtitle {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: var(--dark-grey);
      }

      .card-text {
        line-height: 1.75;
        margin-bottom: 0.5rem;
        text-align: left;
      }
      .card-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 40%;
      }

      // .btn {
      // display: block;
      // margin-left: auto;
      // margin-right: auto;
      // margin: 1rem auto;
      // }
    }
  }
}

.comment-card {
  margin-bottom: 0.25rem;
}
