/* ----- MEDIA QUERIES ----- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@media (min-width: $sm) {
  .col-card {
    flex: 1 1 50%;
  }
  .product-detail {
    width: 100%;

    .card {
      max-width: 100%;
    }
  }
    .cart-item {
    flex-direction: row!important;
  }
}

@media (min-width: $md) {
  .col-card {
    flex: 1 1 33.33333333%;
  }
}

@media (min-width: $lg) {
  .col-card {
    flex: 1 1 50%;
    .card {
      height: 100%;
      align-items: center;
      .card-img {
        flex: 0 0 auto;
        width: 50%;
        height: auto;
      }
      .card-body {
        flex: 0 0 auto;
        width: 50%;
        height: 100%;
      }
    }
  }

}

@media (min-width: $xl) {
  .aside-logo,
  .aside-dark-mode .hamburger {
    display: none;
  }

  .home-logo {
    max-height: 100%;
  }

  .header,
  .footer {
    padding: 0.25rem 1rem;
  }
  body {
    overflow: hidden;
  }
  .header {
    display: flex;
  }
  .main {
    flex: auto;
    flex-direction: row;
    height: calc(100vh - 6rem);

    .navbar {
      width: 13vw;
      max-width: 200px;
      height: 100%;
      flex: 1 0;
      background-color: var(--side-bg);
      align-items: center;

      .nav-header {
        display: none;
      }

      .nav-menu {
        display: flex;
        background-color: var(--side-bg);
      }
    }

    .content {
      flex: auto 1 0;
      overflow-y: auto;
      height: calc(100vh - 6rem);

      .product-detail,
      .products,
      .cart {
        max-width: 1000px;
      }
    }
  }
}
